- title @page_title

%h1#kinder
  = @page_title


= render :partial => "layouts/menu"

%p
  - form_tag search_kids_path, :method => :get do
    = text_field_tag :search_text, @search_text
    = submit_tag "Suche"

/ %p
= render :partial => "layouts/tablesorter_pagination"
%table.tablesorter
  %thead
    %tr
      %th.header Nummer
      %th.header Bild
      %th.header Vorname
      %th.header Name
      %th.header Beschreibung
      %th.header Schule
      %th.header Klasse
      - for l in Letter.recent(2)
        %th.header
          = l.name
      %th.header{:colspan => "3"} Bearbeiten
  %tbody
    - for kid in @kids
      - cache :key => "kids_row_#{kid.id}" do
        %tr
          = render :partial => "kids/kids_row", :locals => {:kid => kid}

          - for letter in kid.recent_letters_written
            %td
              = render :partial => "letters/letter_received", :locals => {:letter => letter, :redirect_action => :index}
          %td
            = link_to 'Anzeigen', kid
          %td
            = link_to 'Bearbeiten', edit_kid_path(kid)
          %td
            = link_to 'Löschen', kid, :confirm => 'Dieses Kind wirklich löschen?', :method => :delete
