- title "Kinder"

%h1#kinder
  Liste aller Kinder


= render :partial => "layouts/menu"

%table.tablesorter
  %thead
    %tr
      %th.header Nummer
      %th.header Bild
      %th.header Vorname
      %th.header Name
      %th.header Beschreibung
      %th.header Schule
      %th.header Klasse
      - for l in Letter.recent(2)
        %th.header
          = l.name
      %th.header{:colspan => "3"} Bearbeiten
  %tbody
    - for kid in @kids
      %tr
        = render :partial => 'kids/kids_row', :locals => {:kid => kid}
        - for letter in kid.recent_letters_written
          %td
            = render :partial => "letters/letter_received", :locals => {:letter => letter, :redirect_action => :index}
        %td
          = link_to 'Anzeigen', kid
        %td
          = link_to 'Bearbeiten', edit_kid_path(kid)
        %td
          = link_to 'Löschen', kid, :confirm => 'Dieses Kind wirklich löschen?', :method => :delete