- title "Kinder"
%p
  = link_to "Neues Kind", new_kid_path
  
%table.tablesorter
  %thead 
    %tr 
      %th.header Nummer
      %th.header Bild
      %th.header Vorname
      %th.header Name    
      %th.header Geburtstag
      %th.header Beschreibung
      %th.header Schule
      - for l in Letter.recent(4)
        %th.header
          = l.name
  %tbody
    - for kid in @kids
      %tr
        %td
          = h kid.number
        %td
          = image_tag kid.picture.url(:thumb)
        %td
          = h kid.firstname
        %td
          = h kid.name
        %td
          = h kid.birthday
        %td
          = h kid.description
        %td
          = h kid.school.name if kid.school
        - for l in kid.recent_letters_written
          %td
            = image_tag boolean_icon_path(l.received?)
            = link_to l.received? ? 'Da' : 'Fehlt', letter_received_path(l.id), :method => :put
        %td
          = link_to 'Anzeigen', kid
        %td
          = link_to 'Bearbeiten', edit_kid_path(kid)
        %td
          = link_to 'Löschen', kid, :confirm => 'Dieses Kind wirklich löschen?', :method => :delete