- title "Kind"

= render :partial => "send_profile_form"

%p
  = image_tag @kid.picture.url(:profile)
%p
  %strong Nummer:
  =h @kid.number
%p
  %strong Vorname:
  =h @kid.firstname
%p
  %strong Name:
  =h @kid.name
%p
  %strong Geburtstag:
  =h @kid.birthday
%p
  %strong Wohnort:
  =h @kid.town
%p
  %strong Beschreibung:
  =h @kid.description
%p
  %strong Status:
  =h @kid.status
%p
  %strong Schulstatus:
  =h @kid.school_visit.description unless @kid.school_visit.nil?
%p
  %strong Pate:
  =h @kid.parents.first.firstname unless @kid.parents.first.nil?
  =h @kid.parents.first.name unless @kid.parents.first.nil?
  
  
- for l in @kid.recent_letters_written
  %p
    = l.name
    = image_tag boolean_icon_path(l.received?)
    = hidden_field_tag :redirect_action, "show"
    = link_to l.received? ? 'Da' : 'Fehlt', letter_received_path(l.id, :redirect_action => :show), :method => :put

%p
  = link_to "Bearbeiten", edit_kid_path(@kid)
  |
  = link_to "Löschen", @kid, :confirm => 'Dieses Kind wirklich löschen?', :method => :delete
  |
  = link_to "Übersicht Kinder", kids_path
