- title "Kind"

= render :partial => "send_profile_form"


%p
  %strong Nummer:
  =h @kid.number
%p
  %strong Vorname:
  =h @kid.firstname
%p
  %strong Name:
  =h @kid.name
%p
  = image_tag @kid.picture.url(:profile)
%p
  %strong Geburtsjahr:
  =h @kid.birthday.strftime("%Y")
%p
  %strong Wohnort:
  =h @kid.town
%p
  %strong Beschreibung:
  =h @kid.description

%p
  %strong Schule:
  =h @kid.school.name
  =h @kid.school_visit.description unless @kid.school_visit.nil?


%p
  = link_to "Bearbeiten", edit_kid_path(@kid)
  |
  = link_to "Löschen", @kid, :confirm => 'Dieses Kind wirklich löschen?', :method => :delete
  |
  = link_to "Übersicht Kinder", kids_path
