%h2
  Patenschaft aus bereits angelegten Kindern und Paten
- form_for @parentship do |f|
  = f.error_messages
  %p
    = f.label :kid_id, "Kind"
    = f.select :kid_id, kids_select_for_parentship
    = f.label :parent_id, "Pate"
    = f.select :parent_id, parents_select_for_parentship
  %p
    = f.label :starts_at, "Start"
    = f.date_select :starts_at, :order => [:month, :year], :start_year => 1995, :include_blank => true
    = f.label :expires_at, "Ende"
    = f.date_select :expires_at, :order => [:month, :year], :start_year => 1995, :include_blank => true
  %p
    = f.label :fee, "Beitrag"
    = f.text_field :fee
    = f.label :paying_period, "Abrechnungsperiode"
    = f.text_field :paying_period
  %p
    = f.submit "Speichern"
