- form_for @parentships do |f|
  = f.error_messages
  %p
    = f.label :kid_id, "Kind"
    %br
    = f.select :kid_id, kids_select_for_parentship
  %p
    = f.label :parent_id, "Pate"
    %br
    = f.select :parent_id, parents_select_for_parentship
  %p
    = f.label :starts_at, "Start"
    %br
    = f.date_select :starts_at
  %p
    = f.label :expires_at, "Ende"
    %br
    = f.date_select :expires_at
  %p
    = f.label :fee, "Beitrag"
    %br
    = f.text_field :fee
  %p
    = f.label :paying_period, "Abrechnungsperiode"
    %br
    = f.text_field :paying_period
  %p
    = f.submit "Speichern"