%h2 Neue Patenschaft anlegen

- form_for @parentship, :url => :create_batched_parentships do |f|
  %table
    %thead
      %th
        Neues Kind
      %th
        Neuer Pate
    %tr
      %td
        - fields_for @kid do |fk|
          = render :partial => 'kids/form_fields', :locals => {:f => fk }
      %td
        - fields_for @parent do |fp|
          = render :partial => 'parents/form_fields', :locals => {:f => fp}

    %tr
      %td
        = f.submit "Patenschaft anlegen"


%h2
  Neue Patenschaft für existierende Kinder
- form_for @parentship do |f|
  = f.error_messages
  %p
    = f.label :kid_id, "Kind"
    = f.select :kid_id, kids_select_for_parentship
    = f.label :parent_id, "Pate"
    = f.select :parent_id, parents_select_for_parentship
  %p
    = f.label :starts_at, "Start"
    = f.date_select :starts_at, :order => [:month, :year]
    = f.label :expires_at, "Ende"
    = f.date_select :expires_at, :order => [:month, :year]
  %p
    = f.label :fee, "Beitrag"
    = f.text_field :fee
    = f.label :paying_period, "Abrechnungsperiode"
    = f.text_field :paying_period
  %p
    = f.submit "Speichern"
