- title "Parentships"

%h1
  Patenschaften

%p
  = link_to "Neue Patenschaft", new_parentship_path

%p  
  = render :partial => "layouts/tablesorter_pagination"
  
%table.tablesorter
  %thead
    %tr
      %th.header
        Bild
      %th.header
        Vorname
      %th.header
        Name
      %th.header
        Nr. 
      %th.header
        Pate
      %th.header 
        Pate
      %th.header
        Beginn
      %th.header
        Ende
      %th.header
        Beitrag
      %th.header
        Zahlweise
      %th.header{:colspan => "3"}
        Bearbeiten
    %tbody
      - for parentship in @parentships
        %tr
          %td 
            = image_tag parentship.kid.picture.url(:thumb)
          %td
            = h parentship.kid.firstname
          %td
            = h parentship.kid.name
          %td
            = h parentship.kid.number
          %td
            = h parentship.parent.firstname      
          %td
            = h parentship.parent.name
          %td
            = h parentship.starts_at
          %td
            = h parentship.expires_at
          %td
            = h parentship.fee
          %td
            = h parentship.paying_period
          %td
            = link_to "Anzeigen", parentship
          %td
            = link_to "Bearbeiten", edit_parentship_path(parentship)
          %td
            = link_to "Löschen", parentship, :confirm => 'Diese Patenschaft wirklich löschen?', :method => :delete
%p
  = link_to "Neue Patenschaft", new_parentship_path