- title "Parentships"

%h1
  Liste aller Kinder mit Paten

= render :partial => "layouts/menu"

%p
  - form_tag search_parentships_path, :method => :get do
    = text_field_tag :search_text, @search_text
    = submit_tag "Suche"


%p
  = render :partial => "layouts/tablesorter_pagination"
%table.tablesorter
  %thead
    %tr
      %th.header
        Nummer
      %th.header
        Bild
      %th.header
        Vorname
      %th.header
        Name
      %th.header
        Beschreibung
      %th.header
        Schule
      %th.header
        Klasse
      - for l in Letter.recent(2)
        %th.header
          = l.name
      %th.header
        Pate
      %th.header
        Pate
      %th.header
        Adresse
      %th.header
        PLZ
      %th.header
        Ort
      %th.header
        Email
      %th.header
        Telefonnumer
      %th.header
        Anzahl
      %th.header
        Beginn
      %th.header
        Ende
      %th.header
        Beitrag
      %th.header
        Zahlweise
      %th.header{:colspan => "3"}
        Bearbeiten
    %tbody
      - for parentship in @parentships
        - kid = parentship.kid
        - parent = parentship.parent
        - cache "parentships_row_#{parentship.id}" do
          %tr
            - unless kid.nil?
              = render :partial => 'kids/kids_row', :locals => {:kid => kid}
              - for letter in kid.recent_letters_written
                %td
                  = render :partial => "letters/letter_received", :locals => {:letter => letter, :redirect_action => :index}
            = render :partial => 'parents/parents_row', :locals => {:parent => parent}
            %td
              = link_to "Anzeigen", parentship
            %td
              = link_to "Bearbeiten", edit_parentship_path(parentship)
            %td
              = link_to "Löschen", parentship, :confirm => 'Diese Patenschaft wirklich löschen?', :method => :delete
%p
  = link_to "Neue Patenschaft", new_parentship_path
