- title "Schulen"

%h1
  Schulen

%p
  = link_to "Neue Schule anlegen", new_school_path

%p  
  = render :partial => "layouts/tablesorter_pagination"  
  
%table.tablesorter
  %thead
    %tr
      %th.header
        Name
      %th.header{:colspan => "3"}
        Bearbeiten
  %tbody
    - for school in @schools
      %tr
        %td
          = h school.name
        %td
          = link_to "Anzeigen", school
        %td
          = link_to "Bearbeiten", edit_school_path(school)
        %td
          = link_to "Löschen", school, :confirm => 'Diese Schule wirkich löschen?', :method => :delete