- form_for @parent do |f|
  = f.error_messages
  %p
    = f.label :firstname, "Vorname"
    %br
    = f.text_field :firstname
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :street, "Strasse"
    %br
    = f.text_field :street
  %p
    = f.label :zip_code, "PLZ"
    %br
    = f.text_field :zip_code
  %p
    = f.label :town, "Ort"
    %br
    = f.text_field :town
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :phone
    %br
    = f.text_field :phone
  %p
    = f.submit "Speichern"

