- cache "parent_#{parent.id}" do
  %td
    = h parent.firstname
  %td
    = h parent.name
  %td
    = h parent.street
  %td
    = h parent.zip_code
  %td
    = h parent.town
  %td
    = h parent.email
  %td
    = h parent.phone
  %td
    = h parent.status
  %td
    = h parent.kids.length
