- title "Paten"

%h1
  Paten

%p
  = link_to "Neuer Pate", new_parent_path

%table.tablesorter
  %thead
    %tr
      %th.header
        Vorname
      %th.header
        Name
      %th.header
        Strasse
      %th.header
        PLZ
      %th.header
        Ort
      %th.header
        E-Mail
      %th.header
        Status
      %th.header
        Anzahl Kinder
      %th.header{:colspan => "3"}
    %tbody
      - for parent in @parents
        %tr
          %td
            = h parent.firstname
          %td
            = h parent.name
          %td
            = h parent.street
          %td
            = h parent.zip_code
          %td
            = h parent.town
          %td
            = h parent.email
          %td
            = h parent.status
          %td
            = h parent.kids.size  
          %td
            = link_to "Anzeigen", parent
          %td
            = link_to "Bearbeiten", edit_parent_path(parent)
          %td
            = link_to "Löschen", parent, :confirm => 'Diesen Paten wirklich löschen?', :method => :delete