#footer
  .inner
    
    %span.totop
      = link_to 'Nach oben', '#'
      
    %ul.navigation
      %li
        = link_to 'So können Sie helfen', page_path('so-koennen-sie-helfen') 
      %li
        = link_to 'Vereins-Satzung', page_path('vereinssatzung') 
      %li
        = link_to 'Impressum / Kontakt', page_path('kontakt') 
      %li
        = link_to 'Verwaltung', admin_path