#footer
  .inner
    
    %span.totop
      = link_to 'Nach oben', '#'
      
    %ul.navigation
      %li
        = link_to 'Spenden', page_path('spenden') 
      %li
        = link_to 'Vereins-Satzung', page_path('vereinssatzung') 
      %li
        = link_to 'Impressum / Kontakt', page_path('kontakt') 
      %li
        = link_to 'Verwaltung', admin_path
      
    
    / %span
    /   %strong
    /     Projekthilfe Uganda e.V.
    /   %br
    /   Christel Henecka ( 1. Vors. )
    / %span
    /   Albrecht-D&uuml;rer-Str.  4
    /   %br
    /   76646  Bruchsal-B&uuml;chenau
    / %span
    /   Telefon 07257 / 1482
    /   %br
    /   E-Mail:
    /   = mail_to 'ChristelHenecka@gmx.de', 'ChristelHenecka@gmx.de', :encode => :hex
