= link_to_unless_current "Kinder", kids_path

= link_to_unless_current "Paten", parents_path

= link_to_unless_current "Patenschaften", parentships_path

= link_to_unless_current "Schulen", schools_path

= link_to_unless_current "Briefe", letters_path
